<br><br><br><br>
<div>
<div class="container-fixed, col-md-8">
  <div>
      <span class='well'>We suggest you use {{ timer }} seconds to deal with this email.</span>
      <br><br><br>
      <blockquote ng-controller='mantra'>Mantra: {{ message }}</blockquote>
  </div>
  <br>
<div>
  <div>
     <h4 class='well'>Respond to this email. Timer is above. Go. </h4>
     <table class='table'>
        <tr><td> Received: </td><td> {{inbox[0].time}}</td></tr>
        <tr><td> From: </td><td> {{inbox[0].from}}</td></tr>
        <tr><td> Subject: </td><td> {{inbox[0].subject}}</td></tr>
        <tr><td> Body: </td><td> {{inbox[0].body}}</td></tr>
        </li>
     </table>
  <br>
  <div class="input-group">
       <span class="input-group-addon">Response</span>
       <input id="to" type="text" class="form-control" value="{{inbox[0].from.slice(inbox[0].from.indexOf('<')+1)}}">
       <input id="subject" type="text" class="form-control" value="Re: {{inbox[0].subject}}">
       <input id="message" type="text" class="form-control" placeholder="Write a message">
       <button id="sendEmail" ng-click='send(); markAsRead();' class="btn btn-primary btn-lg" role="button">Send</button><button id="nextEmail" ng-click='next(); markAsRead();' class="btn btn-primary btn-lg" role="button">Next</button>
  </div>
</div>
  </div>
</div>

  <div class="container-fixed col-md-4 pull-right">
   <div>   
      <!--Sidebar content inside span2-->
       <h4 class='well'>The queue</h4>
       <span>
          <li class="list-group-item disabled" ng-repeat="email in inbox">{{email.from}}: {{email.subject}} @ {{email.time}}</li>
          <li class="list-group-item" ng-repeat="email in inbox | filter: {status: 'sorted'} | orderBy: 'bucket'">{{email.from}}: {{email.subject}} @ {{email.time}}</li>
       </span>
    </div>
</div>
</div>
</div>