<style>
    body    { padding-top:70px; }
</style>

<div>
<span class="row">
  <div class="col-xs-6 col-md-2">
      <img src={{profilePhoto}} alt="..." class="img-rounded">
  </div>
  <div class="col-xs-6 col-md-3">
        <p>{{ fullName }}</p><p>{{ userEmail }}</p>
  </div>

    <div <div class="container-fluid col-xs-6 col-md-4 well">
      <h2>Click here to get going: </h2>
      <p class='col-md-3' ui-sref="myApp.main.spinner"> <a class="btn btn-danger btn-lg" role="button">Start a sort session</a></p>
    </div>
    </span>

<div class='jumbotron' ng-controller="BadgeController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-2">
          <img ng-src="../img/Badge1.png" ng-if="badgeOneShower()">
        <p ng-if="badgeOneShower()">Level 1 - Super Sorter</p>
        <p ng-if="!badgeOneShower()">Level 1 - Sort email to get badge!</p>
      </div>
      <div class="col-xs-6 col-md-2">
        <img ng-src="../img/Badge2.png" ng-if="badgeTwoShower()">
        <p ng-if="badgeTwoShower()">Level 2 - Crunch Captain</p>
        <p ng-if="!badgeTwoShower()">Level 2 - Keep crunching!</p>
      </div>
      <div class="col-xs-6 col-md-2">
          <img ng-src="../img/Badge3.png" ng-if="badgeThreeShower()">
          <p ng-if="badgeThreeShower()">Level 3 - Mail Master</p>
          <p ng-if="!badgeThreeShower()">Level 3 - Keep going!</p>
      </div>
      <div class="col-xs-6 col-md-2">
          <img ng-src="../img/Badge4.png" ng-if="badgeFourShower()">
          <p ng-if="badgeFourShower()">Level 4 - EMT- Extreme Mail Technician</p>
          <p ng-if="!badgeFourShower()">Level 4 - Become a mail ninja!</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class='jumbotron'>
    <h1 class='col-md-8'>It's time to start.</h1>
    <div class='row'>
  	  <div class='col-md-1'></div>
      <p class='col-md-3' ui-sref="myApp.main.spinner"><a class="btn btn-primary btn-lg" role="button">Start sorting!</a></p>
    </div>
  </div>

</div>
</div>