<div ng-controller="NoteController">
<div class='row-fixed'><br><br><br><br></div>

<div class="container-fixed"> 
    <div class="col-md-4 pull-right"> 
      <!--Sidebar content inside span2-->
       <div class='well'><h4>The queue </h4><p>What's on the docket for this crunch session</p></div>
       <span>
          <button id="getEmails" type="type" ng-click="getEmails()" class="btn btn-primary">Get Emails</button>
          <li class="list-group-item disabled" ng-repeat="email in inbox | filter: {status: 'sorted'}">{{email.from}}: {{email.subject}} @ {{email.time}}</li>
          <li class="list-group-item" ng-repeat="email in inbox | filter: {status: 'pending'}">{{email.from}}: {{email.subject}} @ {{email.time}}</li>
       </span>
    </div>
</div>

<div class="container-fixed">
  <span class='row'>
    <div class='col-md-8'>
      <h3 class='well'>Sort this email. Click an image. Go. 
        <a ng-click='sortManage()'>
          <img src="../images/manage.jpg">
        </a>
        <a ng-click='sortFocus()'>
          <img src="../images/focus.jpg">
        </a>
        <a ng-click='sortAvoid()'>
          <img src="../images/avoid.jpg">
        </a>
        <a ng-click='sortLimit()'>
          <img src="../images/limit.jpg">
        </a>
      </h3>
      <br>
      <div class="container-fluid">
        <div class='col-md-6 col-md-offset-3'>
          <span class="well">
            We suggest you sort this email in {{timer}} seconds
          </span> 
        </div>
      </div>
      <br>
      <table class='table'>
        <tr><td> Received: </td><td> {{inbox[0].time}}</td></tr>
        <tr><td> From: </td><td> {{inbox[0].from}}</td></tr>
        <tr><td> Subject: </td><td> {{inbox[0].subject}}</td></tr>
        <tr><td> Body: </td><td> {{inbox[0].body}}</td></tr>
      </table>
    </div>
   </span>
</div>
<br>
</div>